<h1 class="title">
  Example Project
</h1>
<p class="subtitle">
  <i class="fa fa-camera-retro"></i> Using Phoenix 1.3 and Bulma 0.6.2
</p>
<figure class="image is-2by1">
  <!-- <img src="images/its-working.gif" /> -->
</figure>
